/widgets/__pycache__
debug.log
output/1.exe
/.trae
/__pycache__
测试.jpg
指令合集.txt
Image_1767614094030.jpg
封面.png
打包/1.json
/output
色彩提取色卡_20260204_031736.png
PixPin_2026-02-04_04-08-56.png
/ui/widgets/__pycache__
/ui/canvases/__pycache__
/ui/__pycache__
/dialogs/__pycache__
/core/__pycache__
/ui/interfaces/__pycache__
/utils/__pycache__
README - BetterGI StellTrack.md
/打包
upx-5.1.0-win64.zip
/upx/upx-5.1.0-win64
发行说明.md
PyQt6_Windows_TitleBar_DarkMode_Guide.md
PyQt6_Windows_TitleBar_DarkMode_Guide.md

# 虚拟环境
.venv/
venv/
env/
ENV/

版权完善计划.md
THIRD_PARTY_LICENSES.md
activate.ps1
activate.bat
Python3.14t性能优化计划.md
color_card_favorites.json
/测试图片
/preview_scenes/__pycache__
文档/开发规范 - BetterGI StellTrack.md
文档/color_card_20260221_134235.json
CHANGELOG.md
